<div class="img rounded">
<h1 align="center" class="display-4 mb-5"><b style="color:red;"><br>Edit Product</b></h1>
<div style="width:40%; margin: 25px auto">
    <form #form="ngForm">
        <!--Id is to read only -->
        <div class="form-group">
            <label for="productId"><h3>Product Code</h3></label>
            <input [readOnly]="isEdit" [disabled]="isEdit" [(ngModel)]="product.productId" type="text"
                   class="form-control form-control-lg" #productIdInput
                   id="productId" name="productId" required #productId="ngModel">
            <div *ngIf="productIdInput.invalid && (productIdInput.dirty || productIdInput.touched)">
                <div *ngIf="productIdInput.errors.required">
                    Product Code is required.
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label><h3>Product Code</h3></label>
            <input [(ngModel)]="product.productIcon" type="text" class="form-control form-control-lg" id="productIcon"
                   name="productIcon" placeholder="Photo">
        </div> -->
        <!--Photo-->
        <div class="form-group">
            <label><h3>Photo Link</h3></label>
            <input [(ngModel)]="product.productIcon" type="text" class="form-control form-control-lg" id="productIcon"
                   name="productIcon" placeholder="Photo">
        </div>

        <!--Name-->
        <div class="form-group">
            <label><h3>Name</h3></label>
            <input [(ngModel)]="product.productName" type="text" class="form-control form-control-lg" id="productName"
                   #productName="ngModel"
                   name="productName" placeholder="Name" required>
        </div>
        <div *ngIf="productName.invalid && (productName.dirty || productName.touched)">
            <div *ngIf="productName.errors.required">
                Name is required.
            </div>
        </div>

        <!--Category-->
        <div class="form-group">
            <label for="categoryType"><h3>Category</h3></label>
            <select class="custom-select custom-select-lg " id="categoryType" name="categoryType"
                    [(ngModel)]="product.categoryType" required>
                <option [ngValue]=0>Tables & Chairs</option>
                <option [ngValue]=1>Beds</option>
                <option [ngValue]=2>Sofas</option>
                <option [ngValue]=3>Lighting</option>
                <option [ngValue]=4>Dinnerware</option>
                <option [ngValue]=5>Wardrobe</option>
                <option [ngValue]=6>Planters</option>
                <option [ngValue]=7>Decoration</option>
                <option [ngValue]=8>Cooktops</option>
                <option [ngValue]=9>Mirrors</option>
                <option [ngValue]=10>Televisions</option>
                <option [ngValue]=11>Kids and Teens</option>
                <option [ngValue]=12>Clocks</option>
            </select>
        </div> 


        <!--Description-->
        <div class="form-group">
            <label><h3>Description</h3></label>
            <textarea class="form-control form-control-lg text-left"
                      id="productDescription" name="productDescription"
                      placeholder="Description" [(ngModel)]="product.productDescription"></textarea>
        </div>
        <!--Price-->
        <div class="form-group">
            <label for="productPrice"><h3>Price</h3></label>
            <input class="form-control form-control-lg"
                   type="number"
                   id="productPrice"
                   name="productPrice"
                   #productPrice="ngModel"
                   [ngModel]="product.productPrice" (ngModelChange)="product.productPrice=$event"
                   required>
            <div *ngIf="productPrice.invalid && (productPrice.dirty || productPrice.touched)">
                <div *ngIf="productPrice.errors.required">
                    Price is required.
                </div>
            </div>
        </div>
        <!--Stock-->
        <div class="form-group">
            <label for="productStock"><h4>Stock</h4></label>
            <input class="form-control form-control-lg"
                   type="number"
                   id="productStock"
                   name="productStock"
                   min="0" #productStock="ngModel"
                   [(ngModel)]="product.productStock"
                   required>
            <div *ngIf="productStock.invalid && (productStock.dirty || productStock.touched)">
                <div *ngIf="productStock.errors.required">
                    Stock is required.
                </div>
            </div>
        </div>


        <!--Status-->
        <div class="form-group">
            <label for="productStatus"><h4>Status</h4></label>
            <select class="custom-select custom-select-lg " id="productStatus" name="productStatus" required
                    [(ngModel)]="product.productStatus">
                <option [ngValue]=0>Available</option>
                <option [ngValue]=1>Unavailable</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block btn btn-warning" routerLink="/seller/product"><h4>Go Back</h4></button>
            <button class="btn btn-lg btn-primary btn-block btn btn-danger" (click)="proDelete()" style="background-color:rgb(191, 51, 51);"><h4>Delete Product</h4></button>
            <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()"><h4>Save Changes</h4></button>
        </div>
        <br><br><br><br><br><br><br>
    </form>
</div>
</div>

